---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astroing">
	<h1>Hello World</h1>

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
		Borem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
		Ameiricano non ipsum dolor sit amet consectetur adipisicing elit.
		Quisquam, quos.
	</p>
</Layout>
