---
import ThemeIcon from "../components/ThemeIcon.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<ThemeIcon />
		<slot />
	</body>
</html>

<style>
	:root {
		--background-color: var(--background-color-light);
		--text-color: var(--text-color-light);

		--background-color-light: #fff;
		--background-color-dark: #000;
		--text-color-light: #000;
		--text-color-dark: #fff;
	}

	:root.dark {
		--background-color: var(--background-color-dark);
		--text-color: var(--text-color-dark);
	}

	body {
		background-color: var(--background-color);
		color: var(--text-color);
		font-family: monospace;
		font-size: 1.2rem;
		margin: 0 auto;
		max-width: 60ch;
		padding: 0 1rem;
	}

	a:any-link {
		color: var(--text-color);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
</style>
