---
import ThemeIcon from "../components/ThemeIcon.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/astroing/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<ThemeIcon />
		<slot />
	</body>
</html>

<style is:global>
	/* CSS Reset */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	:root {
		--background-color: var(--background-color-light);
		--text-color: var(--text-color-light);

		--background-color-light: #fff;
		--background-color-dark: #000;
		--text-color-light: #000;
		--text-color-dark: #fff;

		--spacing-sm: 0.5rem;
		--spacing-md: 1rem;
		--spacing-lg: 2rem;

		--transition-speed: 0.3s;
	}

	:root.dark {
		--background-color: var(--background-color-dark);
		--text-color: var(--text-color-dark);
	}

	html,
	body {
		margin: 0;
		padding: 0;
	}

	body {
		background-color: var(--background-color);
		color: var(--text-color);
		font-family: monospace;
		font-size: 1rem;
		line-height: 1.5;
		margin: 0 auto;
		max-width: 90%;
		padding: var(--spacing-md);
		transition:
			background-color var(--transition-speed),
			color var(--transition-speed);
	}

	@media (min-width: 768px) {
		body {
			font-size: 1.2rem;
			max-width: 60ch;
		}
	}

	a {
		color: var(--text-color);
		text-decoration: none;
		border-bottom: 1px solid var(--text-color);
		padding: var(--spacing-sm) 0;
		display: inline-block;
		transition: all var(--transition-speed);
	}

	a:hover,
	a:focus,
	a:active {
		background-color: var(--text-color);
		color: var(--background-color);
	}
</style>
